*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(90deg, #451de6 10%, #969ae6 90%);
}
main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, #451de6 10%, #969ae6 90%);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: transparent;
    filter: drop-shadow(1px 1px 1px #000);
}
.nav-links ul{
    display: flex;
    list-style-type: none;
}
.nav-links li a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin: 0 14px;
    font-weight: bold;
}
.main-page{
    padding: 3%;
}
.row{
    display: flex;
}
.col-1{
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.col-2 img {
    width: 400px;
    margin-left: 90px;
    margin-top: 60px;
}
.column{
    justify-content: right;
}
.about{
    justify-content: right;
    margin-top: 115px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
.about h2{
    font-size: larger;
}
.about institusion about{
    margin-top: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}
.footerline{
    width: 100%;
    height: 1px;
    background-color: #000;
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.socialmedia i{
    font-size: 20px;
    color: #000;
    margin: 10px;
}
.enrollment-container{
    display: flex;
    padding: 3%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.column1 img{
    width: 250px;
}
.column2 h1{
    font-family: 'Times New Roman', Times, serif    ;
}
.column2 label{
    justify-content: space-around;
    font-family: 'Time New Roman', Times, serif;
}
.column2 input{
    padding: 12px 20px;
}
.column2 button{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}